@use "@/assets/styles/variables.scss" as *;

.gift {
	&-name {
		color: $bTertiaryColor;
		font-size: 1.2rem;
		font-weight: bold;
	}

	&-brand {
		text-align: center;
		color: $bPrimaryColor;
		font-size: 1.2rem;
	}

	&-description {
		color: #5b5b5b;
	}

	&-tag {
		margin-bottom: 1rem;
	}

	&-cost-heading {
		color: $bPrimaryColor;
		margin-right: 2rem;
		font-weight: bold;
	}

	&-cost-item {
		display: flex;
		justify-content: center;
		align-items: center;

		&+& {
			margin-left: 2rem;
		}
	}

	&-cost-value {
		color: $bTertiaryColor;
		font-weight: bold;
	}

	&-cost-image {
		width: 25px;
		margin-right: 0.5rem;
	}
}
