.wrapper {
	width: 100vw;
	min-height: 100vh;
	background: url('@/assets/images/BackgroundGame.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.content {
	padding: 56px 12px 0 115px;
}
