.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	padding-right: 0.8rem;
}

.menu-btn {
	span {
		color: white;
	}
}
