@use "@/assets/styles/variables.scss" as *;

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	border-radius: 1rem;
	transition: all ease 0.2s;
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

	&:hover {
		box-shadow: none;
	}
}

.image {
	width: 150px;
	height: 150px;
}

.info {
	font-family: "Lexend";
	padding: 1rem 1rem 0.5rem;
}

.name {
	color: $bTertiaryColor;
	font-size: 1rem;
	text-align: center;
}

.action {
	padding: 0.5rem 1rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	width: 100%;
}

.tag {
	margin-top: 1rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cost-list {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0.8rem;
}

.cost-item {
	display: flex;
	align-items: center;

	& + & {
		margin-left: 1.4rem;
	}
}

.cost-icon {
	width: 25px;
}

.cost-value {
	color: $bPrimaryColor;
	transform: translateY(1px);
	margin-left: 0.6rem;
	font-weight: bold;
	font-size: 1rem;
}

.purchase-required {
	margin-top: 0.5rem;
	text-align: center;
	color: orange;
}
