@use "@/assets/styles/variables.scss" as *;

.wrapper {
	max-width: 500px;
	margin: 0 auto;
	padding: 1rem;
}

.content {
	color: $bTertiaryColor;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.image {
	width: 150px;
}

.heading {
	font-size: 0.8rem;
	text-align: center;

	span {
		color: $bPrimaryColor;
	}
}
