@use "@/assets/styles/variables.scss" as *;

.wrapper {
	color: $bTertiaryColor;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 850px;
	margin: 0 auto;
}

.image {
	width: 360px;
	margin-bottom: 1rem;
}

.heading {
	margin-bottom: 1.2rem;
	font-size: 1.4rem;
	text-align: center;

	span {
		color: $bPrimaryColor;
	}
}
