@use "@/assets/styles/variables.scss" as *;

.question-content {
	font-size: 1.2rem;
	color: $bSecondaryColor;
	margin-bottom: 1rem;
}

.answers {
	list-style: upper-alpha;
	padding-left: 1.2rem;
}

.answer {
	margin: 0.5rem 0;
	color: $bTertiaryColor;
	padding: 1rem 0.8rem;
	border-radius: 0.5rem;
	transition: all ease 0.2s;
	cursor: pointer;

	&:hover {
		background-color: rgb(255, 217, 168);
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	}

	&.selected {
		background-color: rgb(255, 217, 168);
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	}
}

.heading {
	font-size: 1rem;
	color: $bPrimaryColor;
}

.rewards {
	margin-top: 0.5rem;
	display: flex;
	align-items: center;
}

.reward-data {
	margin-right: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.reward-icon {
	display: inline-block;
	margin-right: 0.6rem;
	font-size: 16px;
	width: 34px;
}

.reward-value {
	font-size: 2rem;
	color: $bTertiaryColor;
	transform: translateY(1px);
}

.limited-message {
	color: orangered;
	line-height: 1.4;
}
