@use "@/assets/styles/variables.scss" as *;

.wrapper {
	color: $bTertiaryColor;
	max-width: 500px;
	padding: 1rem;
	margin: 0 auto;
}

.heading1 {
	font-size: 1rem;
	text-align: center;
	color: $bPrimaryColor;
}

.heading2 {
	text-align: center;
	font-size: 0.8rem;

	span {
		color: $bSecondaryColor;
	}
}

.item {
	padding: 2rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	border-radius: 12px;
	font-size: 0.8rem;
	font-weight: bold;

	&-image {
		max-width: 100px;
		margin: 0 auto;
	}

	&-title {
		margin: 2rem 0 1rem;
	}
	
	&-subtitle {
		color: orangered;
		margin-bottom: 1.5rem;
	}
}
