@use "@/assets/styles/variables.scss" as *;

.wrapper {
	max-width: 500px;
	padding: 1rem;
	margin: 0 auto;
}

.logo-brand {
	padding: 0.6rem;
	background-color: white;
	border-radius: 0.5rem;
	width: 100px;
	margin: 0 auto 0.5rem;
}

.game-title {
	margin: 0 auto;
	max-width: 280px;
}

.content {
	width: 100%;
	text-align: center;
	padding: 0 0.6rem 0.4rem;
	margin-bottom: 0 !important;
}

.image-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 6px;

	img {
		width: 100%;
		height: 100%;
		background-color: white;
		padding: 12px;
		border-radius: 6px;
		box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
	}
}

.title {
	color: $mPrimaryColor;
	font-size: 1.2rem;
}

.desc {
	font-size: 0.8rem;
}

.text-divider {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 0.8rem;
	font-weight: bold;
}

.login-button,
.register-button {
	flex: 1;
	width: 100%;
}
