@use "@/assets/styles/variables.scss" as *;

.gift {
	&-image {
		width: 100%;
		height: 120px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}

	&-name {
		font-size: 0.8rem;
		color: $bTertiaryColor;
	}
}
