@use "@/assets/styles/variables.scss" as *;

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.6rem;
	border-radius: 0.5rem;
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.image {
	width: 100%;
	max-width: 100px;
	height: 85px;
}

.info {
	padding: 0.5rem 0.5rem 1rem;
	font-size: 0.7rem;
}

.name {
	color: $bTertiaryColor;
	text-align: center;
}

.action {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	width: 100%;

	button {
		font-size: 0.8rem;
		padding-left: 0.6rem;
		padding-right: 0.6rem;
	}
}

.tag {
	margin-top: 1rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		font-size: 0.7rem;
	}
}

.cost-list {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0.8rem;
}

.cost-item {
	display: flex;
	align-items: center;

	& + & {
		margin-left: 1.4rem;
	}
}

.cost-icon {
	width: 25px;
}

.cost-value {
	color: $bPrimaryColor;
	transform: translateY(2px);
	margin-left: 0.6rem;
	font-weight: bold;
	font-size: 0.7rem;
}

.purchase-required {
	margin-top: 0.5rem;
	text-align: center;
	color: orange;
}
