@use "@/assets/styles/variables.scss" as *;

.wrapper {
	margin: 0 auto;
	color: $bTertiaryColor;
	max-width: 800px;
	padding-top: 2.2rem;
	padding-bottom: 2.2rem;
}

.heading1 {
	font-size: 2rem;
	text-align: center;
	color: $bPrimaryColor;
}

.heading2 {
	text-align: center;
	font-size: 1rem;

	span {
		color: $bSecondaryColor;
	}
}

.loading {
	text-align: center;
	display: block;
}

.survey {
	&-item {
		display: flex;
	}

	&-icon-wrapper {
		max-width: 165px;
	}

	&-title {
		color: $bPrimaryColor;
		font-size: 1rem;
	}

	&-info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
}

.reward-heading {
	font-size: 1rem;
}

.rewards {
	display: flex;
	align-items: center;
}

.reward-data {
	margin-right: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.reward-icon {
	display: inline-block;
	margin-right: 0.6rem;
	width: 25px;
}

.reward-value {
	font-size: 1.2rem;
	color: $bTertiaryColor;
	transform: translateY(1px);
}
