// Gradient colors
$gradientColorD0: #64cbff;
$gradientColorD1: #9e72fc;
$gradientColorP0: #ff4da3;
$gradientColorP1: #ff65fc;
$gradientColorS0: #ffc551;
$gradientColorS1: #ff7d4e;

// Admin colors
$primaryColor: #ff006f;
$secondaryColor: #8800ff;
$tertiaryColor: #00ffee;
$caretColor: #222222;
$textColor: #1d1d1d;
$backgroundColor: #f1f1f1;
$borderColor: #1d1d1d;

// Browser colors
$bPrimaryColor: #ff006f;
$bSecondaryColor: #ffbe00;
$bTertiaryColor: #0095ff;
$bCaretColor: #222222;
$bTextColor: #fcfcfc;
$bBackgroundColor: #ffffff;
$bBorderColor: #1d1d1d;

// Mobile colors
$mPrimaryColor: #ff006f;
$mSecondaryColor: #ffbe00;
$mTertiaryColor: #0095ff;
$mCaretColor: #ffbe00;
$mTextColor: #0095ff;
$mBackgroundColor: #ffffff;
$mBorderColor: #1d1d1d;
